// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overridden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    background: $body-bg;
    left: -12px;
    right: -12px;
    top: 100%;
    z-index: 9;
    padding: 15px;
  }
}
